<div class="container-fluid p- ">
    <div class="container">
      <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px">
          <div class="position-relative h-60">
            <img
              class="position-absolute w-100 h-100 rounded"
              src="../../../assets/about.jpg"
              style="object-fit: cover"
            />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="mb-4">
            <h5
              class="d-inline-block text-primary fs-4 fw-bolder text-uppercase border-bottom border-5"
            >
              About Us
            </h5>
            <h1 class="display-4 lh-1 fw-bold">
              Best Medical Care For Yourself and Your Family
            </h1>
          </div>
          <p>
            At our medical facility, we are committed to providing the highest standard of care for you and your family. Our team of highly qualified doctors is dedicated to offering comprehensive medical services tailored to meet your unique needs. Whether it's routine check-ups or specialized treatments, we prioritize your health and well-being. We offer state-of-the-art diagnostic testing to ensure accurate results and timely interventions.
          </p>
          <div class="row g-3 pt-3">
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                <h6 class="mb-0">
                  Qualified<small class="d-block text-primary">Doctors</small>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                <h6 class="mb-0">
                  Emergency<small class="d-block text-primary"
                    >Services</small
                  >
                </h6>
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                <h6 class="mb-0">
                  Accurate<small class="d-block text-primary">Testing</small>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                <h6 class="mb-0">
                  Free<small class="d-block text-primary">Ambulance</small>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>