<div class="container">
  <h2>Reschedule Appointment</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="patientId">Patient Id</label>
      <input type="text" id="patientId" [value]="appointment.patient.id" readonly>
    </div>
    <div class="form-group">
      <label for="doctorId">Doctor Id</label>
      <input type="text" id="doctorId" [value]="appointment.doctor.id" readonly>
    </div>
    <div class="form-group">
      <label for="appointmentTime">Appointment Time</label>
      <input type="datetime-local" id="appointmentTime" [(ngModel)]="appointment.appointmentTime" name="appointmentTime" required [min]="minDateTime">
    </div>
    <button type="submit">Reschedule</button>
  </form>
</div>