/* medical-record-form.component.scss */
.full-width {
    width: 100%;
  }
  
.button-container {
    display: flex;
    justify-content: space-between;
  }
  
mat-form-field {
    margin-bottom: 15px;
  }

button.save-button {
  background-color: #023e8a;
  color: white;
}