<app-navbar></app-navbar>
<div class="center-container">
  <mat-card class="login-card">
    <h1>Schedule an Appointment</h1>
    <form [formGroup]="appointmentForm" (ngSubmit)="scheduleAppointment()">
      <mat-form-field class="full-width">
        <mat-label>Select Doctor</mat-label>
        <mat-select id="doctor" formControlName="doctorId">
          <mat-option value="" disabled>Select Doctor</mat-option>
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
            {{ doctor.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="appointmentForm.get('doctorId')?.invalid">
          {{ getErrorMessage('doctorId') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Date and Time</mat-label>
        <input matInput type="datetime-local"  [min]="minDateTime" [(ngModel)]="appointmentDateTime" formControlName="time" required />
        <mat-error *ngIf="appointmentForm.get('time')?.invalid">
          {{ getErrorMessage('time') }}
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Book</button>
        <a mat-button color="accent" routerLink="/dashboard">Go Back</a>
      </div>
    </form>
  </mat-card>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>