<div class="center-container">
  <div class="heading">
    <h1 class="head mr">“Your one stop smart <br> Healthcare Scheduling Solution”</h1>
    <p>~MediCape</p>
  </div>
  <mat-card class="login-card">
    <h1>Welcome to Our Application</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="loginForm.get('username')?.invalid">
          {{ getErrorMessage('username') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')?.invalid">
          {{ getErrorMessage('password') }}
        </mat-error>
      </mat-form-field>


      <div class="button-container">
        <button mat-raised-button color="primary" id="liveToastBtn" type="submit">
          Login
        </button>
        <a mat-button class= "btn-1" routerLink="/registration">Register</a>
      </div>
    </form>
    <mat-error *ngIf="errorMessage">
      {{ errorMessage }}
    </mat-error>
  </mat-card>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <mat-icon class="toast-icon">{{ toastSeverity === 'success' ? 'check_circle' : 'error_outline' }}</mat-icon>
        <strong class="me-auto">{{ toastSeverity === 'success' ? 'Success' : 'Error' }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ toastMessage }}
      </div>
    </div>
  </div>
</div>
