.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

btn-1 {
  color : #673AB7
}

.heading {
  width: 50%;
  text-align: center;
}

.head {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
  font-style: italic;
  opacity: 60%;
  color: #023e8a;
}

.mr {
  margin-right: 40px;
}

.heading p {
  text-align: right;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  padding-right: 50px;
}

button#liveToastBtn {
  background-color: #023e8a; /* Changed color to #023e8a */
  color: white;
}