<div class="main-container">
  <app-navbar></app-navbar>

  <!-- Patient -->
  <div class="container">
    <div class="heading text-center text-bold fs-1">
      <h1>
        Book an appointment with the best available Doctors around the Globe.
      </h1>
    </div>
    <div class="button-container text-center">
      <button mat-raised-button color="primary" (click)="bookAppointment()">
        Book an Appointment
      </button>
      <button mat-raised-button color="accent" (click)="showAllAppointments()">
        Show All Appointments
      </button>
    </div>
  </div>

  <div class="banner">
    <h1>Find the Best Doctors Near You</h1>
    <p class="text-white">Book your appointment with top specialists today.</p>
    <div class="search-container">
      <input
        type="text"
        placeholder="Search by doctor name or specialty"
        class="search-bar"
      />
      <button class="btn btn-primary">Search</button>
    </div>
  </div>

  <div class="doctor-cards-container">
    <div class="doctor-card" *ngFor="let doctor of doctors">
      <div class="image-container">
        <img
          *ngIf="doctor.image; else defaultAvatar"
          [src]="doctor.image"
          alt="Doctor Image"
          class="doctor-image"
        />
        <ng-template #defaultAvatar>
          <img
            src="../../assets/avatar.png"
            alt="Default Avatar"
            class="doctor-image"
          />
        </ng-template>
      </div>

      <div class="doctor-info">
        <h5>{{ doctor.name }}</h5>
        <p>{{ doctor.specialty }}</p>
        <button mat-raised-button color="primary">Book an Appointment</button>
      </div>
    </div>
  </div>

  <div class="content-container">
    <ng-template #noDoctors>
      <p class="no-doctors">No doctors available</p>
    </ng-template>
    <router-outlet></router-outlet>
    <app-patient-appointment></app-patient-appointment>
  </div>
</div>
