<div class="main-container">
  <app-navbar></app-navbar>

  <div class="">
    <div class="" *ngIf="currentUser">Welcome back, {{ currentUser.name }}</div>
    <div class="container">
      <div class="">
        <h1 class="title">
          Book an appointment<br />
          with the best <br />
          available <i class="pointer">doctors</i> <br />
          around the globe.
        </h1>
        <div class="button-container">
          <button
            color="#673AB7"
            class="rounded btn-1"
            (click)="bookAppointment()"
          >
            Book an Appointment
          </button>
        </div>
      </div>
      <img
        src="../../assets/Screenshot_2025-02-13_182850-removebg-preview.png"
        alt=""
      />
    </div>

    <app-about></app-about>

    <!-- <app-footer></app-footer> -->

    <app-search></app-search>

    
    <app-services></app-services>

    
    <app-testimonials></app-testimonials>