<app-navbar></app-navbar>
<div class="main-container">
  <div class="banner">
    <h1>Your Appointments</h1>
    <p>View and manage your upcoming consultations.</p>
    <div class="search-container">
      <input type="text" placeholder="Search by doctor name or specialty" class="search-bar" />
      <button class="btn btn-primary">Search</button>
    </div>
  </div>
  <div class="content-container">
    <h2 class="section-title" *ngIf="appointments.length > 0">Upcoming Appointments</h2>
    <div *ngIf="appointments.length > 0; else noAppointments">
      <table class="table table-striped table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">Doctor Name</th>
            <th scope="col">Specialty</th>
            <th scope="col">Availability</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments" style="cursor: pointer;">
            <td>Dr. {{ appointment.doctor.name }}</td>
            <td>{{ appointment.doctor.specialty }}</td>
            <td>{{ appointment.doctor.availability }}</td>            
            <td>{{  appointment.formattedTime }} </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="cancelAppointment(appointment.id)">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noAppointments>
      <p class="no-appointments">No appointments available</p>
    </ng-template>
  </div>
</div>
