<mat-toolbar color="primary" class="sticky-navbar">
  <!-- Logo -->
  <a routerLink="/" class="logo-link">MediCap</a>

  <!-- Spacer to push navigation and buttons to the right -->
  <span class="spacer"></span>

  <!-- Navigation Links -->
  <nav class="nav-links">
    <a mat-button routerLink="/" class="nav-link">Home</a>
    <a
      mat-button
      routerLink="/schedule-appointment"
      class="nav-link"
      *ngIf="role === 'DOCTOR'"
      >Doctors</a
    >
    <a
      mat-button
      routerLink="/patient-appointment"
      class="nav-link"
      *ngIf="role === 'PATIENT'"
      >Appointments</a
    >
    <a mat-button routerLink="/contact" class="nav-link">Contact</a>
  </nav>

  <!-- Call-to-Action Button -->
  <button
    mat-raised-button
    color="accent"
    class="cta-button"
    routerLink="/schedule-appointment"
    *ngIf="role === 'PATIENT'"
  >
    Book Appointment
  </button>

  <!-- Search Button -->
  <button mat-icon-button class="icon-button">
    <mat-icon>search</mat-icon>
  </button>

  <!-- Mobile Menu -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/contact">Feedback</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
