.availability-card {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.main-container  {
  height:  100%;
}

.container-fluid {
  margin-top: -200px;
}

.full-width {
  width: 100%;
}

.alert {
  margin-top: 15px;
}

